<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/navbar.css' />
  <link rel='stylesheet' href='/stylesheets/hero.css' />
  <link rel='stylesheet' href='/stylesheets/pendaftaran.css' />
  <link rel='stylesheet' href='/stylesheets/skema.css' />
  <link rel='stylesheet' href='/stylesheets/footer.css' />

  <!-- path /sertifikasi -->
  <link rel='stylesheet' href='/stylesheets/sertifikasi/view-sertifikasi.css' />
  <link rel='stylesheet' href='/stylesheets/sertifikasi/sertifikasi-detail.css' />
  
  <!-- path /forum -->
  <link rel='stylesheet' href='/stylesheets/forum/view-forum.css' />

  <!-- modal -->
  <link rel='stylesheet' href='/stylesheets/modal.css' />
</head>
<body>