<nav>
  <div class="logo">
    <img src="/images/logo-lsp.png" alt="logo-lsp">
  </div>

  <ul>
    <li><a href="/">Beranda</a></li>
    <li><a href="/sertifikasi">Sertifikasi</a></li>
    <li><a href="/#document">Formulir</a></li>
    <li><a href="/forum">Forum Diskusi</a></li>
  </ul>

  <div class="menu-toggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>