<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<main id="view_sertifikasi">
  <header>
    <h1>Skema Sertifikasi</h1>
    <h6>ADA 2 SKEMA DI LSP STMIK BANJARBARU</h6>
    <div class="aksensertifikasi"></div> 
  </header>
  <section id="network-design">
    <section class="left">
      <header>
        <h1>Network Design</h1>
      </header>

      <p>Skema Sertifikasi Network Designer ini dimaksudkan untuk 
        memberikan standar kompetensi yang dibutuhkan tenaga 
        kerja bidang Teknologi Informasi dan Komunikasi yang 
        mengacu pada Standar Kompetensi Kerja Nasional 
        Indonesia (SKKNI) kategori informasi dan komunikasi 
        berdasarkan Keputusan Menteri Ketenagakerjaan 
        Republik Indonesia No 321 tahun 2016 .
      </p>
      <div>
        <a href="/sertifikasi/network">Lihat Detail</a>
      </div>
    </section>
    <section class="right">
      <img src="images/image-network.png" alt="hero_image">
    </section>
  </section>

  <section id="lead-programming">
    <section class="left">
      <header>
        <h1>Lead Programming</h1>
      </header>
      <p>Skema Sertifikasi Lead Pemrograman ini dimaksudkan untuk 
        memberikan standar kompetensi yang dibutuhkan tenaga kerja 
        bidang Teknologi Informasi dan Komunikasi yang mengacu 
        pada  Standar Kompetensi Kerja Nasional Indonesia (SKKNI) 
        kategori informasi dan komunikasi berdasarkan Keputusan 
        Menteri Ketenagakerjaan Republik Indonesia No. 282 tahun 2016.
      </p>
      <div>
        <a href="/sertifikasi/programming">Lihat Detail</a>
      </div>
    </section>
    <section class="right">
      <img src="images/image-lead.png" alt="hero_image">
    </section>
  </section>
</main>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/js.ejs') %>